
body {
  background-color: hsla(190, 20%, 70%, 1);
}


/* Set the size of the containers */
.drawing {
	box-sizing: border-box;
	margin: 10px;
	vertical-align: top;
	background-color: white;
	
	display: inline-block;
	
	box-shadow: 1px 2px 5px black;
	border-radius: 10px;
}

.drawing-label {
	font-family: monospace;
	font-weight: bold;
	margin: 10px;
	text-align: center;
}

/* Set the size of the containers */
.drawing-p5holder {
	box-sizing: border-box;
	margin: 10px;
}
